body {
    font-family:"Arial", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-size: contain;
    background-color: rgba(255, 255, 255, 1);
}
.separator{
    font-size: 14px;
    font-weight: 100;
    vertical-align: bottom;
    text-align: center;
}

.login {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
}
.login a{
    text-decoration: none;
    color: rgba(61, 61, 61, 1);
    font-size: 20px;
}
.login a.reg {
    color: rgba(70, 163, 88, 1);
    font-size: 20px;
}
form{
    width: 300px;
    margin: 0 auto;
}
form label{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 14px;
}
input{
    display: block;
    margin: 16px 0;
    max-width: 270px;
    padding: 12px 14px;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(234, 234, 234, 1)
}
button{
    width: 300px;
    border-radius: 5px;
    img{
        vertical-align: middle;
        margin-right: 8px;
    }
    cursor: pointer;
}
button.main{
    margin: 25px 0;
    padding: 16px 14px 13px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    height: 45px;
    width: 100%;
    background-color: rgba(70, 163, 88, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}
button:hover{
     background-color: rgb(19, 122, 41);
}
.div1{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 27px;
    margin-top: 11px;
}
.href{
    text-decoration: none;
}
button.secondary{
    margin-bottom: 15px;
    display: block;
    background-color: white;
    color: rgba(114, 114, 114, 1);
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    height: 40px;
    max-width: 100%;
    border: 1px solid rgba(234, 234, 234, 1);
}
.border-line{
    display: inline-block;
    height: 1px;
    width: 95px;
    background-color: rgba(234, 234, 234, 1);
    vertical-align: middle;
}
.password-container{
    position: relative;

    .toggle-pass{
        position: absolute;
        z-index: 1;
        width: 20px;
        height: 20px;
        right: 12px;
        top: 10px;
        background: transparent;
        border: none;
    }
}