*{
    font-family: "Cera Pro", sans-serif;
}
nav{
    max-width: 1200px;
    margin: 12px auto;
}
nav img{
    width: 150px;
    height: 34px;
    top: 1px;
    margin: 1px 229px 17px 0;
    vertical-align: top;
}
.but1{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    background-color: white;
    margin: 8px 50px 25px 0;
    vertical-align: top;
    cursor: pointer;
}
.but2{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: none;
    background-color: white;
    margin: 8px 50px 25px 0;
    vertical-align: top;
    cursor: pointer;
}
.line{
    background: rgba(70, 163, 88, 0.5);
    max-width: 1200px;
    height: 1px;
    margin: 0 auto;
}
.log{
    background: rgba(70, 163, 88, 1);
    color: rgba(255, 255, 255, 1);
    width: 100px;
    height: 35px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    text-align: right;
    padding: 8px 17px 7px 41px;
    margin: 0 0 18px 250px;
    img {
        position: absolute;
        z-index: 1;
        background: transparent;
        border: none;
        width: 20px;
        height: 20px;
        top: 7px;
        left: 17px;
    }
}
.log:hover{
    background-color: rgb(19, 122, 41);
}
.first{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: normal;
    color: rgba(61, 61, 61, 1);
    margin: 68px 0 0 43px;
}
.second{
    max-width: 530px;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0;
    color: rgba(61, 61, 61, 1);
    margin: 7px 0 5px 40px;
}
.planet{
    color: rgba(70, 163, 88, 1);
}
.third {
    max-width: 583px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(114, 114, 114, 1);
    margin: 0 0 0 43px;
}
.section1{
    max-width: 1200px;
    margin: 12px auto;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
}
.left{
    display: inline-block;
    vertical-align: top;
    width: 51%;
}
.right{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    text-align: right;
}
.flr{
    width: 507px;
    height: 450px;
}
.but3{
    cursor: pointer;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    background: rgba(70, 163, 88, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: white;
    border: none;
    margin: 44px 0 0 41px;
}
.but3:hover{
    background-color: rgb(19, 122, 41);
}
.section2{
    max-width: 1200px;
    margin: 0 auto;
}
.setbar{
    float: left;
    background-color: rgba(251, 251, 251, 1);
    color: rgba(61, 61, 61, 1);
    a{
        display: block;
        margin: 0 189px 0 30px;
        font-family: Cera Pro,sans-serif;
        font-size: 15px;
        line-height: 40px;
    }
    .bottom-setbar{
        margin-bottom: 300px;
    }
}
.hplants{
    color: rgba(70, 163, 88, 1);
    font-weight: 700;
}
h5{
    color: rgba(61, 61, 61, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin: 6px 0;
}
h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: rgba(70, 163, 88, 1);
    margin-top: 6px;
}
.set{
    float: right;
    img{
        width: 250px;
        height: 250px;
    }
}
.ctg{
    margin: 14px 18px 7px;
    font-family: Cera Pro , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
}
.supersale{
    width: 310px;
    height: 470px;
}
.float-block{
    max-width: 840px;
    margin-top: 10px;
    margin-left: auto;
}
.card{
    float: left;
    width: 258px;
    margin: 33px 10px 33px 0;
}
.clearfix{
    clear: both;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 838px;
    margin: 0 auto;
}
.filter-left{
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    gap:20px
}
.filter-left span.allplants{
    color: rgba(70, 163, 88, 1);
    border-bottom: 2px solid rgba(70, 163, 88, 1);
    padding-bottom: 7px;
}
.filter-right{
    white-space: nowrap;
}
