*{
    font-family: "Cera Pro", sans-serif;
}
nav{
    max-width: 1200px;
    margin: 12px auto;
    display: flex;
    justify-content: space-between;
}
nav img{
    width: 150px;
    height: 34px;
    top: 1px;
    vertical-align: top;
}
.header-buttons{
    display: flex;
    gap: 50px;
}
.first-header-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    background-color: white;
    vertical-align: top;
    cursor: pointer;
}
.second-header-button{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: none;
    background-color: white;
    vertical-align: top;
    cursor: pointer;
}
.line{
    background: rgba(70, 163, 88, 0.5);
    max-width: 1200px;
    height: 1px;
    margin: 0 auto;
}
.login-header-button{
    background: rgba(70, 163, 88, 1);
    color: rgba(255, 255, 255, 1);
    width: 100px;
    height: 35px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    text-align: right;
    padding: 8px 17px 7px 41px;
    transition: background-color 0.5s , transform 0.3s;
    img {
        position: absolute;
        z-index: 1;
        background: transparent;
        border: none;
        width: 20px;
        height: 20px;
        top: 7px;
        left: 17px;
    }
}
.login-header-button:hover{
    background-color: rgb(19, 122, 41);
    transform: scale(1.1);
}
.first{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: normal;
    color: rgba(61, 61, 61, 1);
    margin: 68px 0 0 43px;
}
.second{
    max-width: 530px;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0;
    color: rgba(61, 61, 61, 1);
    margin: 7px 0 5px 40px;
}
.planet{
    color: rgba(70, 163, 88, 1);
}
.third {
    max-width: 583px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(114, 114, 114, 1);
    margin: 0 0 0 43px;
}
.section1{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 12px auto;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
}
.flr{
    width: 507px;
    height: 450px;
}
.but3{
    cursor: pointer;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    background: rgba(70, 163, 88, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: white;
    border: none;
    margin: 44px 0 0 41px;
    transition: background-color 0.5s , transform 0.3s;
}
.but3:hover{
    background-color: rgb(19, 122, 41);
    transform: scale(1.1);
}
.section2{
    max-width: 1200px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
}
.set-bar{
    background-color: rgba(251, 251, 251, 1);
    color: rgba(61, 61, 61, 1);

    a{
        display: block;
        margin: 0 189px 0 30px;
        font-family: Cera Pro,sans-serif;
        font-size: 15px;
        line-height: 40px;
        cursor: pointer;
        transition: transform 0.3s;
    }
    a:hover{
        transform: scale(1.1);
    }
    .bottom-set-bar{
        margin-bottom: 300px;
    }
}
.h-plants{
    color: rgba(70, 163, 88, 1);
    font-weight: 700;
}
h5{
    color: rgba(61, 61, 61, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin: 6px 0;
}
h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: rgba(70, 163, 88, 1);
    margin-top: 6px;
}
.ctg{
    margin: 14px 18px 7px;
    font-family: Cera Pro , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
}
.super-sale{
    width: 310px;
    height: 470px;
}
.float-block{
    max-width: 840px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.card{
    width: 258px;
    margin: 33px 10px;
    position: relative;
}
.bottom-cards{
    width: 258px;
    margin: 37px 10px 0 0;
    position: relative;
}
.transparent-line{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: green;
    display: none;
}
.img-card{
    width: 258px;
    height: 300px;
    text-align: center;
    background-color: rgba(251, 251, 251, 1);
    margin-bottom: 12px;
    .img-plant{
        width: 250px;
        height: 250px;
    }
}
.img-forth-plant{
    width: 224px;
    height: 276px;
}
.img-card:hover{
    .img-card-icons img{
        display: flex;
    }
    .transparent-line{
        display: block;
    }
}
.img-card-icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 83px;
    img{
        width: 20px;
        height: 20px;
        padding: 7px;
        display: none;
        background-color: white;
        border-radius: 4px;
        transition: background-color 0.3s;
    }
    :hover{
        background-color: rgb(243, 243, 243);;
    }
}
.third-plant-price{
    display: flex;
    gap: 16px;
    s{
        color: rgba(165, 165, 165, 1)
    }
}
.third-plant-sale{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 7px 8px 6px 9px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: rgba(70, 163, 88, 1);
    position: absolute;
    top: 0;
    left: 0;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 838px;
    margin: 0 auto;
}
.filter-left{
    display: flex;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    gap:20px;
    cursor: pointer;
}
.filter-left a.all-plants{
    color: rgba(70, 163, 88, 1);
    font-weight: 700;
    border-bottom: 3px solid rgba(70, 163, 88, 1);
    padding-bottom: 7px;

}
.filter-right{
    white-space: nowrap;
}
.pagination {
    max-width: 1200px;
    display: flex;
    justify-content: end;
    gap: 10px;
    margin: 0 auto 80px;
}

.page, .page-active {
    background-color: white;
    color: rgba(61, 61, 61, 1);
    padding: 10px 13px 9px 14px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(229, 229, 229, 1);;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
}
.page{
    transition: background-color 0.3s;
    &:hover {
    background-color: rgb(243, 243, 243);
    }
}
.page-active{
    background-color: rgba(70, 163, 88, 1);
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    transition: background-color 0.3s;
    &:hover{
        background-color: rgb(19, 122, 41);
    }
}
.section3{
    max-width: 1200px;
    margin: 0 auto;
}
.top-plants{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.left-plant{
    display: flex;
    max-width: 586px;
    max-height: 302px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.left-plant-text{
    text-align: right;
    max-width: 586px;
    max-height: 250px;
}
.img-left-plant{
    width: 287px;
    height: 292px;
}
.left-plant-info1{
    font-weight: 900;
    max-width: 150px;
    font-size: 18px;
    line-height: 24px;
    margin-left: 140px;
    margin-bottom: 9px;
    color: rgba(61, 61, 61, 1);
}
.left-plant-info2{
    font-weight: 400;
    max-width: 292px;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: rgba(114, 114, 114, 1);
    margin:0 0 25px 0;
}
.left-plant-button-img{
    margin-left: 2px;
    vertical-align: middle;
}
.left-plant-button:hover{
    background-color: rgb(19, 122, 41);
    transform: scale(1.1);
}
.right-plant{
    display: flex;
    max-width: 586px;
    max-height: 302px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.right-plant-text{
    text-align: right;
    max-width: 586px;
    max-height: 250px;
}
.img-right-plant{
    width: 287px;
    height: 292px;
}
.right-plant-info1{
    font-weight: 900;
    max-width: 139px;
    font-size: 18px;
    line-height: 24px;
    margin-left: 153px;
    margin-bottom: 9px;
    color: rgba(61, 61, 61, 1);
}
.right-plant-info2{
    font-weight: 400;
    max-width: 292px;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: rgba(114, 114, 114, 1);
    margin:0 0 25px 0;
}
.plant-button{
    width: 140px;
    height: 40px;
    border-radius: 6px;
    background: rgba(70, 163, 88, 1);
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    transition: background-color 0.3s, transform 0.3s;
}
.plant-button:hover{
    transform: scale(1.1);
    background-color: rgb(19, 122, 41)
}
.middle-text{
    margin: 0 auto;
    max-width: 1200px;
}
.middle-top-text{
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    text-align: center;
    color: rgba(61, 61, 61, 1);
    margin-bottom: 15px;
}
.middle-bottom-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: rgba(114, 114, 114, 1);
}
.news-img{
    width: 268px;
    height: 195px;
}
.news{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 35px;
}
.news-div{
    max-width: 268px;
}
.news-first-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(70, 163, 88, 1);
    margin: 2px;
}
.news-second-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: rgba(61, 61, 61, 1);
    margin: 2px;
    max-width: 185px;
}
.news-third-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(114, 114, 114, 1);
    margin: 2px;
}
.news-forth-text{
    vertical-align: middle;
    color: rgba(61, 61, 61, 1);
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
        color: rgba(70, 163, 88, 1);
    }
}
