*{
    font-family: "Cera Pro", sans-serif;
}
a{
    text-decoration: none;
    color: rgb(61, 61, 61);
}
/*.body,.header{*/
/*    display: none;*/
/*}*/
header nav{
    max-width: 1200px;
    margin: 30px auto 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}
#plant-care{
    width: 76px;
}
.header-buttons{
    display: flex;
    gap: 50px;
}
.login-header-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header-button{
    padding: 7px 0 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: white;
    color: rgb(61, 61, 61);
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ;
    &:hover{
        font-weight: 700;
        border-bottom: 3px solid rgba(70, 163, 88, 1);
    }
}
a.header-button:nth-child(3){
    width: 75px;
}
.header-dropdown{
    position: relative;
    padding-top: 7px;
    &:hover{
        .dropdown-box{
            display: flex;
        }
    }
}
.dropdown-box{
    display: none;
    flex-direction: column;
    position: absolute;
    left: -52px;
    top: 100%;
    padding-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.dropdown-content {
    width: 188px;
    background-color: rgba(237, 246, 238, 1);
    padding: 7px 0 7px 7px;
    transition: font-size 0.3s, background-color 0.3s, color 0.3s;
    &:hover{
        font-weight: 700;
        background-color: rgba(26, 113, 42, 1);
        color: white;
    }
}
.dropdown-content-priming{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 188px;
    padding: 7px 0 7px 7px;
    position: relative;
    background-color: rgba(237, 246, 238, 1);
    transition: font-size 0.3s, background-color 0.3s, color 0.3s;
    svg{
        width: 6px;
        height: 10px;
        padding-right: 19px;
    }
    &:hover{
        font-weight: 700;
        background-color: rgba(26, 113, 42, 1);
        color: white;
        .dropdown-content-arrow-black{
            display: none;
        }
        .dropdown-content-arrow-white{
            display: block;
        }
    }
}

.dropdown-content-arrow-black{
    position: absolute;
    right: 0;
    top: 13px;
}
.dropdown-content-arrow-white{
    position: absolute;
    right: 0;
    top: 13px;
    display: none;
}
.second-header-dropdown{
    position: relative;
    &:hover{
        .dropdown-content-box{
            display: flex;
        }
    }
}
.dropdown-content-box{
    display: none;
    flex-direction: column;
    position: absolute;
    font-weight: 400;
    padding-left: 2px;
    right: -186px;
    top: -102px;
    font-size: 16px;
    line-height: 20px;
}
.second-dropdown-content {
    width: 177px;
    background-color: rgba(237, 246, 238, 1);
    padding: 7px 0 7px 7px;
    transition: font-size 0.3s, background-color 0.3s, color 0.3s;
    &:hover {
        font-weight: 700;
        background-color: rgba(26, 113, 42, 1);
        color: white;
    }
}
.login-header-button{
    background: rgba(70, 163, 88, 1);
    color: white;
    max-width: 100px;
    max-height: 35px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    position: relative;
    text-align: right;
    padding: 8px 17px 7px 41px;
    transition: background-color 0.5s , transform 0.3s;
    svg {
        position: absolute;
        z-index: 1;
        top: 7px;
        left: 17px;
    }
    &:hover{
        background-color: rgb(19, 122, 41);
        transform: scale(1.1);
    }
}
.first{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: normal;
    color: rgba(61, 61, 61, 1);
    margin: 68px 0 0 43px;
    text-transform: uppercase;
}
.second{
    max-width: 530px;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0;
    color: rgba(61, 61, 61, 1);
    margin: 7px 0 5px 40px;
}
.planet{
    color: rgba(70, 163, 88, 1);
}
.third {
    max-width: 583px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(114, 114, 114, 1);
    margin: 0 0 0 43px;
}
.section1{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 12px auto 40px;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
}
.flr{
    width: 507px;
    height: 450px;
}
.but3{
    cursor: pointer;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    background: rgba(70, 163, 88, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: white;
    border: none;
    margin: 44px 0 0 41px;
    transition: background-color 0.5s , transform 0.3s;
}
.but3:hover{
    background-color: rgb(19, 122, 41);
    transform: scale(1.1);
}
.section2{
    max-width: 1200px;
    margin: 0 auto 90px;
    display: flex;
    justify-content: space-between;
}
.set-bar{
    background-color: rgba(251, 251, 251, 1);
    color: rgba(61, 61, 61, 1);
    a{
        display: block;
        margin: 0 189px 0 30px;
        font-family: Cera Pro,sans-serif;
        font-size: 15px;
        line-height: 40px;
        cursor: pointer;
        transition: transform 0.3s;
    }
    a:hover{
        transform: scale(1.1);
    }
}

.h-plants{
    color: rgba(70, 163, 88, 1);
    font-weight: 700;
}
h5{
    color: rgba(61, 61, 61, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin: 6px 0 0;
}
h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: rgba(70, 163, 88, 1);
    margin-top: 6px;
    margin-bottom: 0;
}
.ctg{
    margin: 14px 18px 7px;
    font-family: Cera Pro , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
}
.super-sale{
    width: 310px;
    height: 470px;
}
.float-block{
    max-width: 840px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 70px;
    margin-top: 31px;
}
.card{
    width: 258px;
    position: relative;
}
.transparent-line{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: green;
    display: none;
}
.img-card{
    width: 258px;
    height: 300px;
    text-align: center;
    background-color: rgba(251, 251, 251, 1);
    margin-bottom: 12px;
    img{
        padding-top: 20px;
        width: 250px;
        height: 250px;
    }
}
.img-forth-plant{
    width: 224px;
    height: 276px;
}
.img-card:hover{
    .img-card-icons svg{
        display: flex;
    }
    .transparent-line{
        display: block;
    }
}
.img-card-icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 57px;
    svg{
        width: 20px;
        height: 20px;
        padding: 7px;
        display: none;
        background-color: white;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    :hover{
        background-color: rgb(243, 243, 243);;
    }
}
.third-plant-price{
    display: flex;
    gap: 16px;
    s{
        color: rgba(165, 165, 165, 1)
    }
}
.third-plant-sale{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 7px 8px 6px 9px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: rgba(70, 163, 88, 1);
    position: absolute;
    top: 0;
    left: 0;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 838px;
    margin: 0 auto;
    border: transparent;
}
.filter-left{
    display: flex;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    gap:38px;
    cursor: pointer;
}
.filter-left-scale{
    transition: scale 0.3s;
    &:hover{
        scale: 1.1;
    }
}
.filter-left a.all-plants{
    color: rgba(70, 163, 88, 1);
    font-weight: 700;
    border-bottom: 3px solid rgba(70, 163, 88, 1);
    padding-bottom: 7px;

}
.filter-right{
    white-space: nowrap;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    span{
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
.pagination {
    max-width: 1200px;
    display: flex;
    justify-content: end;
    gap: 10px;
    margin: 0 auto 142px;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgba(61, 61, 61, 1);
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(229, 229, 229, 1);;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    transition: background-color 0.3s;
    &:hover {
        background-color: rgb(243, 243, 243);
    }
    &:focus{
        background-color: rgb(19, 122, 41);
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: white;
    }
}
.section3{
    max-width: 1200px;
    margin: 0 auto 97px;
}
.top-plants{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 134px;
}
.left-plant{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    max-width: 586px;
    width: 100%;
    max-height: 250px;
    background-color: rgba(251, 251, 251, 1);
    position: relative;
}

.img-left-plant{
    position: absolute;
    left: 0;
    top: -50px;
    width: 287px;
    height: 292px;
}
.left-plant-info1{
    margin: 0;
    text-align: right;
    font-weight: 900;
    max-width: 150px;
    font-size: 18px;
    line-height: 24px;
    padding: 37px 30px 9px 0;
    color: rgba(61, 61, 61, 1);
}
.left-plant-info2{
    margin: 0;
    padding-right: 30px;
    padding-bottom: 25px;
    text-align: right;
    font-weight: 400;
    max-width: 292px;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: rgba(114, 114, 114, 1);
}

.left-plant-button:hover{
    background-color: rgb(19, 122, 41);
    transform: scale(1.1);
}

.plant-button{
    width: 140px;
    height: 40px;
    margin-right: 30px;
    margin-bottom: 46px;
    border-radius: 6px;
    background: rgba(70, 163, 88, 1);
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    transition: background-color 0.3s, transform 0.3s;
    svg{
        margin-left: 2px;
        vertical-align: middle;
    }

}
.plant-button:hover{
    transform: scale(1.1);
    background-color: rgb(19, 122, 41)
}
.middle-text{
    margin: 0 auto;
    max-width: 1200px;
}
.middle-top-text{
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    text-align: center;
    color: rgba(61, 61, 61, 1);
    margin-bottom: 15px;
}
.middle-bottom-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: rgba(114, 114, 114, 1);
}
.news-img{
    width: 268px;
    height: 195px;
}
.news{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 35px;
}
.news-div{
    max-width: 268px;
    background: #FBFBFB;
    padding-bottom: 12px;
}
.news-div-text{
    padding-left: 15px;
}

.news-first-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(70, 163, 88, 1);
    margin: 2px;
}
.news-second-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: rgba(61, 61, 61, 1);
    margin: 2px;
    max-width: 205px;
}
.news-third-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(114, 114, 114, 1);
    margin: 2px;
}
.news-forth-text{
    display: flex;
    align-items: flex-end;
    justify-content: start;
    gap: 3px;
    color: rgba(61, 61, 61, 1);
    cursor: pointer;
    transition: color 0.3s;
    svg{
        padding-top: 9px;
    }
    &:hover {
        color: rgba(70, 163, 88, 1);
        svg {
            color: inherit;
        }
    }
}
.section4{
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}
.top-section4-box{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 6px;
    max-height: 250px;
    background: rgba(251, 251, 251, 1);
}
.top-left-section4-box{
    display: flex;
    justify-content: space-between;
}
.top-left-section4-box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 205px;
    padding: 30px 30px 0 25px;
    border-right: 1px solid rgba(70, 163, 88, 0.1);
}
.first-section4-text{
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    margin: 15px 0 9px 0;
    color: rgba(61, 61, 61, 1);
}
.second-section4-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 24px;
    color: rgba(114, 114, 114, 1);
}
.top-right-section4-box{
    display: flex;
    flex-direction: column;
    max-width: 354px;
}
.top-right-section4-box input{
    max-width: 329px;
    width: 100%;
    border-radius: 6px;
    border: none;
    color: rgba(172, 172, 172, 1);
    padding: 12px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    margin: 25px 0 18px;
    &:focus{
        outline: none;
        border: none;
        color: rgba(61, 61, 61, 1);
    }
}
.input-section4-box{
    position: relative;
}
.top-right-section4-box button{
    max-width: 85px;
    padding: 12px;
    width: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    background: rgba(70, 163, 88, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 1px;
    transition: background-color 0.3s;
    &:hover{
        background: rgb(19, 122, 41)
    }
}
.middle-section4-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 267px 0 23px;
    height: 88px;
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
}
.middle-section4-text{
    display: flex;
    align-items: center;
    gap: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    transition: scale 0.3s;
    &:hover{
        scale: 1.03;
    }
}
.bottom-section4-box{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 15px 155px 21px 25px;
    background: rgba(251, 251, 251, 1);
}
.bottom-left-section4-box{
    display: flex;
    gap: 152px;
    width: 100%;
}
.bottom-left-section4-box-text{
    display: flex;
    flex-direction: column;
    color: rgba(61, 61, 61, 1);
}
.first-bottom-left-section4-box-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 9px;
}
.second-bottom-left-section4-box-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    transition: scale 0.3s ,color 0.3s;
    &:hover{
        scale: 1.1;
        color: rgba(70, 163, 88, 1);
    }
}
.bottom-right-section4-box{
    max-width: 224px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.bottom-right-section4-box-text {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        border: 1px solid rgba(70, 163, 88, 0.2);
        transition: scale 0.3s;
        &:hover{
            scale: 1.1;
        }
    }
}
.bottom-right-section4-flex{
    display: flex;
    gap: 8px;
}
.footer{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 6px 0 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(61, 61, 61, 1);
}
@media (max-width: 850px){
    .float-block {
        justify-content: center;
    }
}
@media (max-width: 750px) {
    .flr{
        display: none;
    }
    header nav{
        display: none;
    }
    .set-bar{
        display: none;
    }
    .section1{
        flex-wrap: wrap;
        align-items: center;
    }
    .nav1{
        justify-content: center;
    }
    .filter-left{
        display: none;
    }
    .float-block{
        justify-content: center;
    }
    .pagination{
        justify-content: center;
    }
    .top-plants{
        row-gap: 79px;
    }
    .plant-button{
        margin-right: 0;
    }
    .left-plant {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 586px;
        width: 100%;
        max-height: none;
        background-color: rgba(251, 251, 251, 1);
        position: relative;
    }
    .img-left-plant{
        position: inherit;
    }
    .left-plant-info1 {
        margin: 0 auto;
        text-align: center;
        font-weight: 900;
        max-width: none;
        font-size: 18px;
        line-height: 24px;
        padding: 0;
        color: rgba(61, 61, 61, 1);
    }
    .left-plant-info2 {
        margin: 0 auto;
        padding-right: 0;
        padding-bottom: 25px;
        text-align: center;
        font-weight: 400;
        max-width: none;
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        color: rgba(114, 114, 114, 1);
    }
    .news {
        justify-content: center;
        flex-wrap: wrap;
    }
    .middle-section4-box{
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding: 50px 0 150px;
    }
    .bottom-section4-box{
        display: none;
    }
    .top-section4-box {
        max-height: none;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
/*#preloader{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #fff;*/
/*    z-index: 9999;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.loader {*/
/*    width: 50px;*/
/*    aspect-ratio: 1;*/
/*    border-radius: 50%;*/
/*    border: 8px solid #0000;*/
/*    border-right-color: #ffa50097;*/
/*    position: relative;*/
/*    animation: l24 1s infinite linear;*/
/*}*/
/*.loader:before,*/
/*.loader:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    inset: -8px;*/
/*    border-radius: 50%;*/
/*    border: inherit;*/
/*    animation: inherit;*/
/*    animation-duration: 2s;*/
/*}*/
/*.loader:after {*/
/*    animation-duration: 4s;*/
/*}*/
/*@keyframes l24 {*/
/*    100% {transform: rotate(1turn)}*/
/*}*/
