*{
    font-family: "Cera Pro", sans-serif;
}
main {
    font-family: "Cera Pro", sans-serif;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-size: contain;
    background-color: rgba(255, 255, 255, 1);
}
.separator{
    font-size: 14px;
    font-weight: 100;
    vertical-align: bottom;
    text-align: center;
}

.login {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
}
.login a{
    text-decoration: none;
    color: rgba(61, 61, 61, 1);
    font-size: 20px;
    cursor: default;
}
.login a.reg {
    color: rgba(70, 163, 88, 1);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        scale: 1.05;
    }
}
form{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto 16px;
}
form label{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: -5px;
}
.input{
    display: block;
    max-width: 300px;
    width: 281px;
    height: 37px;
    padding-left: 14px;
    padding-right: 4px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgba(234, 234, 234, 1);
    &:focus{
        outline: none;
    }
}
input::placeholder{
    color: #A5A5A5;
}
button{
    width: 300px;
    border-radius: 5px;
    img{
        vertical-align: middle;
        margin-right: 8px;
    }
    cursor: pointer;
}
a{
    text-decoration: none;
}
.register-button{
    padding: 16px 14px 13px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    height: 45px;
    width: 100%;
    background-color: rgba(70, 163, 88, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: rgb(19, 122, 41);
        transform: scale(1.01);
    }
}
button:hover{
     background-color: rgb(19, 122, 41);
}
.div1{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 27px;
    margin-top: 14px;
}
.href{
    text-decoration: none;
}
button.secondary{
    margin-bottom: 15px;
    display: block;
    background-color: white;
    color: rgba(114, 114, 114, 1);
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    height: 40px;
    max-width: 100%;
    border: 1px solid rgba(234, 234, 234, 1);
    transition: all 0.3s;
    &:hover{
        border: 1px solid rgba(106, 106, 106, 0.1);
        background-color: rgb(227, 227, 227);
    }
}
.border-line{
    display: inline-block;
    height: 1px;
    width: 95px;
    background-color: rgba(234, 234, 234, 1);
    vertical-align: middle;
}
.password-container{
    position: relative;

    .toggle-pass{
        position: absolute;
        z-index: 1;
        width: 20px;
        height: 20px;
        right: 19px;
        top: 10px;
        background: transparent;
        border: none;
    }
}
 .checkbox-wrapper-31:hover .check {
     stroke-dashoffset: 0;
 }

.checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.checkbox-wrapper-31 .background {
    fill: #ccc;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -webkit-appearance: none;
}
.checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
    fill: #6cbe45;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
}
.confirm-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.confirm{
    display: flex;
    align-items: center;
    gap: 10px;
}
.confirm h2{
    font-weight: 400;
    font-size: 9px;
    color: #727272;
}
#preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s, visibility 0.5s;
}
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #ffa50097;
    position: relative;
    animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
}
.loader:after {
    animation-duration: 4s;
}
@keyframes l24 {
    100% {transform: rotate(1turn)}
}